<%- include('../partials/header'); %>

<div class="form-container">
  <h1 class="form-title"><%= title %></h1>
  <form method="POST">
    <div class="form-group">
      <input type="hidden" name="id" value="<%= post._id %>">
      <label for="title" class="form-label">Title:</label>
      <input type="text" name="title" value="<%= post.title %>" placeholder="<%= post.title %>" required class="form-input">
    </div>
    <div class="form-group">
        <label for="content">Region:</label>
        <select id="region" name="region">
            <option value="Berat" <%= post.region === "Berat" ? "selected" : "" %>>Berat</option>
            <option value="Dibër" <%= post.region === "Dibër" ? "selected" : "" %>>Dibër</option>
            <option value="Durrës" <%= post.region === "Durrës" ? "selected" : "" %>>Durrës</option>
            <option value="Elbasan" <%= post.region === "Elbasan" ? "selected" : "" %>>Elbasan</option>
            <option value="Fier" <%= post.region === "Fier" ? "selected" : "" %>>Fier</option>
            <option value="Gjirokastër" <%= post.region === "Gjirokastër" ? "selected" : "" %>>Gjirokastër</option>
            <option value="Korçë" <%= post.region === "Korçë" ? "selected" : "" %>>Korçë</option>
            <option value="Kukës" <%= post.region === "Kukës" ? "selected" : "" %>>Kukës</option>
            <option value="Lezhë" <%= post.region === "Lezhë" ? "selected" : "" %>>Lezhë</option>
            <option value="Shkodër" <%= post.region === "Shkodër" ? "selected" : "" %>>Shkodër</option>
            <option value="Tirana" <%= post.region === "Tirana" ? "selected" : "" %>>Tirana</option>
            <option value="Vlorë" <%= post.region === "Vlorë" ? "selected" : "" %>>Vlorë</option>
        </select>
    </div>
    <div class="form-group">
      <label for="picture" class="form-label">Picture URL:</label>
      <input type="text" name="picture" value="<%= post.picture %>" required class="form-input">
    </div>
    <div class="form-group">
      <label for="content" class="form-label">Content:</label>
      <textarea name="content" value="<%= post.content %>" required class="form-input"><%= post.content %></textarea>
    </div>
    <button type="submit" class="form-submit-btn">Submit</button>
  </form>
</div>


<%- include('../partials/footer'); %>
